<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/styles.css" rel="stylesheet">
    
</head>

	<body>
		<div class="navbar transparent">
		    <div class="navbar-brand-right">
		      <div class="container-fluid">
		          <div class="navbar-header">
		              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                  <span class="icon-bar"></span>
		                  <span class="icon-bar"></span>
		                  <span class="icon-bar"></span>
		              </button>
		
		          </div>
		          <div class="navbar-collapse collapse navbar-right">
		              <ul class="nav navbar-nav mineul">
		                <li><a href="/signin">Signin</a></li>
		                 <li><a href="/signup">Signup</a></li>
		              </ul>
		
		          </div>
		      </div>
		    </div>
		</div>
		{% block success %}
		{% endblock %}
		
		{% block user_exists %}
		{% endblock %}
		
		{% block signin %}
		{% endblock %}
		{% block signup %}
		{% endblock %}
		

	</body>

</html>