{% extends "base.html" %}
{% block forgot_password %}
  <div class="container-fluid">
  	<div class="col-md-offset-4">
	    <div id="logbox">
	      <form id="forgot_password" method="post" action="/send_reset_link">
	        <h1>send password reset link</h1>
	        <input name="email" type="email" placeholder="Registered Email" autofocus="autofocus" class="input pass"/>
	        <input type="submit" value="Send reset link" class="inputButton"/>
	        <div class="text-center">
	            Have an account? <a href="/signin" id="login_id">signin</a>
	        </div>
	      </form>
	    </div>
	   </div>
  </div>

{% endblock %}