{% extends "base.html" %}
{% block reset_password %}
  <div class="container-fluid">
  	<div class="col-md-offset-4">
	    <div id="logbox">
	      <form id="reset_password" method="post" action="/update_password">
	        <h1>enter new password</h1>
	        {%if token %}
	        <input type="hidden" name="token" value={{token}}>
	        {% endif %}
	        <input name="email" type="email" placeholder="Registered Email" autofocus="autofocus" class="input pass"/>
	        <input name="password" type="password" placeholder="enter new password" required="required" class="input pass"/>
	        <input type="submit" value="Update password" class="inputButton"/>
	      </form>
	    </div>
	   </div>
  </div>

{% endblock %}